.Button {
  min-height: 20px;
  padding: 10px;
  min-width: 60px;
  cursor: pointer;
  background-color: rgb(0, 136, 255);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.Button:hover {
  background-color: rgb(0, 115, 216);
}

.Button:active {
  background-color: rgb(0, 92, 172);
}
